!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lubbock
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__siteTitle
        %a{ href: 'http://localhost:3000/', id: 'top' }Lubbock
      .header__image 
      - if user_signed_in?
        .header__button
          = link_to "メェ〜ルする", destroy_user_session_path, method: :delete, class: 'header-button'
        .header__button
          = link_to "おやすみ", destroy_user_session_path, method: :delete, class: 'header-button'
        .header__message
          %p
          = current_user.name 
          おかえりなさい。
          %br
          今日はどんな一日だった？

    = yield
